node_modules/
.DS_Store
gentelella-master/.DS_Store
gentelella-master/public/uploads/
gentelella-master/node_modules/
.DS_Store
gentelella-master/.DS_Store
.DS_Store
gentelella-master/config/token.json
gentelella-master/config/accredit.json
gentelella-master/views/.DS_Store
gentelella-master/public/assets/production/css/.DS_Store
gentelella-master/public/assets/production/.DS_Store
gentelella-master/public/assets/dream team system/css/.DS_Store
gentelella-master/public/assets/css/.DS_Store
gentelella-master/public/assets/build/.DS_Store
gentelella-master/.DS_Store
