<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Create Custom Grades</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet" />
</head>

<style>
    #accreditation {
        width: 150px;
    }

</style>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <% if(data[0].gradesset == "0"){ %>
                            <h3>Create Custom Grades For Accreditation: <%= data[0].accreditation_Name %></h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <!INPUT TABLE DIV>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">

                                    <div class="container">

                                        <div class="tab tab-2">
                                            <!INPUT FOR CODE>
                                                <label for="code">Code : </label> <input type="text" name="code" id="code" value=""><br>
                                                <!INPUT FOR RANK>
                                                    <label for="rank">Rank : </label> <input type="text" readonly name="rank" id="rank" value="1"><br>
                                                    <!INPUT FOR ACCREDITATION>
                                                        <label for="rank">Accreditation : </label> <input type="text" readonly name="" id="" value="<%= data[0].accreditation_Name %>"><br>
                                                        <input type="hidden" name="accreditation" id="accreditation" value="<%= data[0].accreditation_ID %>"><br>

                                                        <button onclick="addHtmlTableRow();">Add</button>
                                                        <!--button onclick="editHtmlTbleSelectedRow();">Edit</button-->
                                                        <button onclick="removeSelectedRow();">Remove</button>
                                                        <button id="toJSON">Submit</button>

                                                        <form method="get" action="/ViewAccreditation">
                                                            <input type="hidden" name="passdata" value="1">
                                                            <button type="submit" class="btn btn-success" style="display: none;" id="backsuccess">Hi</button>
                                                        </form>

                                                        <form method="get" action="/ViewAccreditation">
                                                            <input type="hidden" name="passdata" value="0">
                                                            <button type="submit" class="btn btn-success" style="display: none;" id="backfail">Hi</button>
                                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!DISPLAY TABLE DIV>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">

                                        <div class="container">
                                            <div class="tab tab-1">
                                                <table class="table table-bordered" id="table" border="1">
                                                    <thead>
                                                        <th>Code</th>
                                                        <th>Rank</th>
                                                        <th style="display: none">Accreditation</th>

                                                    </thead>

                                                </table>
                                                                <%}else{%>
                <h3 style="text-align:center;"> Grading system for this accreditation has already been set</h3>
                <%}%>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>

            </div>

            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by
                    <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        var rowcount = 0;
        var rIndex,
            table = document.getElementById("table");

        // check the empty input
        function checkEmptyInput() {
            var isEmpty = false,
                code = document.getElementById("code").value,
                rank = document.getElementById("rank").value,
                accreditation = document.getElementById("accreditation").value;

            if (code === "") {
                alert("Code Cannot Be Empty");
                isEmpty = true;
            } else if (rank === "") {
                alert("Rank Cannot Be Empty");
                isEmpty = true;
            } else if (accreditation === "") {
                alert("Accreditation Cannot Be Empty");
                isEmpty = true;
            }
            return isEmpty;
        }

        // add Row
        function addHtmlTableRow() {
            // get the table by id
            // create a new row and cells
            // get value from input text
            // set the values into row cell's
            if (!checkEmptyInput()) {
                var newRow = table.insertRow(table.length),
                    cell1 = newRow.insertCell(0),
                    cell2 = newRow.insertCell(1),
                    cell3 = newRow.insertCell(2),
                    code = document.getElementById("code").value,
                    rank = document.getElementById("rank").value,
                    rankmod = document.getElementById("rank"),
                    accreditation = document.getElementById("accreditation").value;
                console.log(rank);
                cell1.innerHTML = code;
                cell2.innerHTML = rank;
                cell3.innerHTML = accreditation;
                cell1.setAttribute('id', "code" + rowcount);
                cell1.setAttribute('value', code);
                cell2.setAttribute('id', "rank" + rowcount);
                cell2.setAttribute('value', rank);
                cell3.setAttribute('style', "display: none;");
                cell3.setAttribute('id', "accreditation" + rowcount);
                cell3.setAttribute('value', accreditation);
                // call the function to set the event to the new row
                selectedRowToInput();
                rowcount++;
                var newval = parseInt(document.getElementById("rank").value) + 1;
                rankmod.setAttribute('value', newval);
                document.getElementById("code").value = "";

            }
        }

        // display selected row data into input text
        function selectedRowToInput() {

            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].onclick = function() {
                    // get the selected row index
                    rIndex = this.rowIndex;
                    document.getElementById("code").value = this.cells[0].innerHTML;
                    document.getElementById("rank").value = this.cells[1].innerHTML;
                    document.getElementById("accreditation").value = this.cells[2].innerHTML;
                };
            }
        }
        selectedRowToInput();

        /*function editHtmlTbleSelectedRow() {
            var code = document.getElementById("code").value,
                rank = document.getElementById("rank").value,
                accreditation = document.getElementById("accreditation").value;
            if (!checkEmptyInput()) {
                table.rows[rIndex].cells[0].innerHTML = code;
                table.rows[rIndex].cells[1].innerHTML = rank;
                table.rows[rIndex].cells[2].innerHTML = accreditation;
            }
        }*/

        function removeSelectedRow() {
            if (document.getElementById("rank").value > 1) {
                table.deleteRow(rIndex);
                // clear input text
                document.getElementById("code").value = "";
                rankmod = document.getElementById("rank");
                var newval = parseInt(document.getElementById("rank").value) - 1;
                rankmod.setAttribute('value', newval);
            }

        }

        $("#toJSON").click(function() {
                console.log("Hello");
                var table = JSON.stringify($('#table').tableToJSON());


                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/AddGradesJSON', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    console.log(xhr.responseText);
                };

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        var respData = xhr.responseText;
                        if (respData == "OK") {
                            console.log("Hi");
                            backsuccess();
                        } else {
                            backfail();
                        }
                    }
                };


                xhr.send("table=" + table);

            });

            function backsuccess() {
                var button = document.getElementById('backsuccess');
                button.click();

            };

            function backfail() {
                var button = document.getElementById('backfail');
                button.click();

            };



    </script>

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="assets/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="assets/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="assets/vendors/moment/min/moment.min.js"></script>
    <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="assets/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="assets/build/js/custom.min.js"></script>
    <script src="assets/js/JSONjs/jquery.tabletojson.js"></script>
</body>

</html>
