<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>TESTING CODE PAGE</title>

  <!-- Bootstrap -->
  <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Font Awesome -->
  <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <!-- NProgress -->
  <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet" />
  <!-- iCheck -->
  <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
  <!-- bootstrap-wysiwyg -->
  <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
  <!-- Select2 -->
  <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Switchery -->
  <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
  <!-- starrr -->
  <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

  <!-- Custom Theme Style -->
  <link href="assets/build/css/custom.min.css" rel="stylesheet" />
</head>

<style>

  #accreditation{
    width : 150px;
  }

</style>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%- include ./nav.ejs %>
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>TESTING CODE PAGE</h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">

                <div class="container">
                  <div class="tab tab-1">
                    <table class="table table-bordered" id="table" border="1">
                      <tr>
                        <th>Code</th>
                        <th>Rank</th>
                        <th>Accreditation</th>
                        <td id='hidden' value="" style="visibility:collapse;">test</td>
                      </tr>

                    </table>
                  </div>
                  <div class="tab tab-2">
                    <!INPUT FOR CODE>
                    <label for="code" >Code : </label> <input type="text" name="code" id="code"><br>
                    <!INPUT FOR RANK>
                    <label for="rank" >Rank : </label> <input type="text" name="rank" id="rank"><br>
                    <!INPUT FOR ACCREDITATION>
                    <label for="accreditation" >Accreditation : </label> <select class="form-control" name="accreditation" id="accreditation" stlye="width:150px;">

                      <option value="1">PAASCU</option>
                      <option value="2">ABET</option>
                      <option value="3">Others</option>

                    </select>
                    
                    <br>
                    <button onclick="addHtmlTableRow();">Add</button>
                    <button onclick="editHtmlTbleSelectedRow();">Edit</button>
                    <button onclick="removeSelectedRow();">Remove</button>
                  </div>
                </div>

                <script>
                  var rowcount = 0;
                  var rIndex,
                    table = document.getElementById("table");

                  // check the empty input
                  function checkEmptyInput() {
                    var isEmpty = false,
                      code = document.getElementById("code").value,
                      rank = document.getElementById("rank").value,
                      accreditation = document.getElementById("accreditation").value;

                    if (code === "") {
                      alert("Code Cannot Be Empty");
                      isEmpty = true;
                    } else if (rank === "") {
                      alert("Rank Cannot Be Empty");
                      isEmpty = true;
                    } else if (accreditation === "") {
                      alert("Accreditation Cannot Be Empty");
                      isEmpty = true;
                    }
                    return isEmpty;
                  }

                  // add Row
                  function addHtmlTableRow() {
                    // get the table by id
                    // create a new row and cells
                    // get value from input text
                    // set the values into row cell's
                    if (!checkEmptyInput()) {
                      var newRow = table.insertRow(table.length),
                        cell1 = newRow.insertCell(0),
                        cell2 = newRow.insertCell(1),
                        cell3 = newRow.insertCell(2),
                        code = document.getElementById("code").value,
                        rank = document.getElementById("rank").value,
                        accreditation = document.getElementById("accreditation").value;
                      console.log(rank);
                      cell1.innerHTML = code;
                      cell2.innerHTML = rank;
                      cell3.innerHTML = accreditation;
                      cell1.setAttribute('id', "code"+rowcount);
                      cell2.setAttribute('id', "rank"+rowcount);
                      cell3.setAttribute('id', "accreditation"+rowcount);
                      // call the function to set the event to the new row
                      selectedRowToInput();
                      rowcount++;
                    }
                  }

                  // display selected row data into input text
                  function selectedRowToInput() {

                    for (var i = 1; i < table.rows.length; i++) {
                      table.rows[i].onclick = function () {
                        // get the seected row index
                        rIndex = this.rowIndex;
                        document.getElementById("fname").value = this.cells[0].innerHTML;
                        document.getElementById("lname").value = this.cells[1].innerHTML;
                        document.getElementById("age").value = this.cells[2].innerHTML;
                      };
                    }
                  }
                  selectedRowToInput();

                  function editHtmlTbleSelectedRow() {
                    var fname = document.getElementById("fname").value,
                      lname = document.getElementById("lname").value,
                      age = document.getElementById("age").value;
                    if (!checkEmptyInput()) {
                      table.rows[rIndex].cells[0].innerHTML = fname;
                      table.rows[rIndex].cells[1].innerHTML = lname;
                      table.rows[rIndex].cells[2].innerHTML = age;
                    }
                  }

                  function removeSelectedRow() {
                    table.deleteRow(rIndex);
                    // clear input text
                    document.getElementById("fname").value = "";
                    document.getElementById("lname").value = "";
                    document.getElementById("age").value = "";
                  }
                </script>

                <!--form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                  <div class="ln_solid"></div>

                  <div class="ln_solid"></div>
                  <div class="container1">
                      <button class="add_form_field">Add New Field &nbsp; 
                        <span style="font-size:16px; font-weight:bold;">+ </span>
                      </button>
                      <div>
                        <label>Code</label>
                        <!CODE INPUT>
                        <input type="text" name="code1">
                        <label>Rank</label>
                        <!RANK INPUT>
                        <input type="text" name="rank1">
                        <!HIDDEN ACCREDITATION ID INPUT>
                        <input type="text" name="accreditationID">
                      </div>
                  </div>
                </form-->


              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by
          <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      var max_fields = 10;
      var wrapper = $(".container1");
      var add_button = $(".add_form_field");

      var x = 1;
      $(add_button).click(function (e) {
        e.preventDefault();
        if (x < max_fields) {
          x++;
          $(wrapper).append('<div><label>Code</label> <input type="text" name="grade' + x +
            '"/> <label>Rank</label> <input type="text" name="rank' + x +
            '"> <input type="text" name="accreditationID"> <a href="#" class="delete">Delete</a></div>'
            ); //add input box
        } else {
          alert('You Reached the limits')
        }
      });

      $(wrapper).on("click", ".delete", function (e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
      })
    });
  </script>

  <!-- jQuery -->
  <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="assets/vendors/nprogress/nprogress.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- iCheck -->
  <script src="assets/vendors/iCheck/icheck.min.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="assets/vendors/moment/min/moment.min.js"></script>
  <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
  <!-- bootstrap-wysiwyg -->
  <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
  <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
  <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
  <!-- jQuery Tags Input -->
  <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
  <!-- Switchery -->
  <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
  <!-- Select2 -->
  <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
  <!-- Parsley -->
  <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
  <!-- Autosize -->
  <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
  <!-- jQuery autocomplete -->
  <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
  <!-- starrr -->
  <script src="assets/vendors/starrr/dist/starrr.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="assets/build/js/custom.min.js"></script>
</body>

</html>