<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>

</head>
<script type="text/javascript">
    // The Browser API key obtained from the Google Developers Console.
    var developerKey = 'AIzaSyD_3PSEOfecxq-voC5VjvN0leYlP-jKjPI';

    // The Client ID obtained from the Google Developers Console. Replace with your own Client ID.
    var clientId = "119958438983-pggibc0f58i3r3slbkd6b0bt77k6d01q.apps.googleusercontent.com";

    // Scope to use to access user's photos.
    var scope = ['https://www.googleapis.com/auth/drive.file'];

    var pickerApiLoaded = false;
    var oauthToken;

    // Use the API Loader script to load google.picker and gapi.auth.
    function onApiLoad() {
        gapi.load('auth', {
            'callback': onAuthApiLoad
        });
        gapi.load('picker', {
            'callback': onPickerApiLoad
        });
    }

    function onAuthApiLoad() {
        window.gapi.auth.authorize({
                'client_id': clientId,
                'scope': scope,
                'immediate': false
            },
            handleAuthResult);
    }

    function onPickerApiLoad() {
        pickerApiLoaded = true;
        createPicker();
    }

    function handleAuthResult(authResult) {
        console.log(authResult)
        if (authResult && !authResult.error) {
            oauthToken = authResult.access_token;
            createPicker();
        }
    }

    // Create and render a Picker object for picking user Photos.
    function createPicker() {
        if (pickerApiLoaded && oauthToken) {
            var picker = new google.picker.PickerBuilder().
            addViewGroup(
                new google.picker.ViewGroup(google.picker.ViewId.DOCS).addView(google.picker.ViewId.DOCUMENTS).addView(google.picker.ViewId.PRESENTATIONS)).
            enableFeature(google.picker.Feature.MULTISELECT_ENABLED).
            setOAuthToken(oauthToken).
            setDeveloperKey(developerKey).
            setCallback(pickerCallback).
            build();
            picker.setVisible(true);
        }
    }

    // A simple callback implementation.
    function pickerCallback(data) {
        if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {

            var doc = data[google.picker.Response.DOCUMENTS][0];
            var url = doc[google.picker.Document.URL];
            

            var datastring = "url=" + data.docs[0].url + "&name=" + data.docs[0].name;
            datastring = JSON.stringify(data.docs);
            var senddata = "data=" + datastring;

            $.ajax({
                type: 'POST',
                url: '/PickerUploadJSON',
                dataType: 'text',
                cache: false,
                data: senddata,
                success: function(response) {
                    console.log("Good")
                },
                error: function(response) {
                    console.log("Not Good")
                }
            });


        }
        var message = 'You picked: ' + url;
        document.getElementById('result').innerHTML = message;
        console.log(data[google.picker.Response.DOCUMENTS].length)
    }

</script>


<style>
    table,
    th,
    td {
        border: .25px solid black;

    }

</style>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ./nav %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                            <h3>Test Page</h3>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />
                                <!--BUTTON 1-->
                                <button name="btnsubmit" id="btnsubmit">Creat Notifs</button>
                                <br>
                                <br>
                                <!--BUTTON 2-->
                                <button name="btnsubmit2" id="btnsubmit2">Get Notifs</button>
                                <br>
                                <br>
                                <!--BUTTON 3-->
                                <button name="btnsubmit3" id="btnsubmit3">Set Notifs as read</button>
                                <button onclick="onApiLoad()">Pick From Google Drive</button>

                                <div id="result"></div>





                                <div class="ln_solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    console.log("hello");


                    $("#btnsubmit").click(function(event) {
                        event.preventDefault();

                        $.ajax({
                            url: '/TestNotif',
                            type: 'POST',
                            processData: false,
                            contentType: false,
                            dataType: 'json',
                            success: function(data) {
                                processdata(data, fdata);
                            },
                        })
                    });

                    $( document ).ready(function() {
                        event.preventDefault();

                        $.ajax({
                            url: "/GetNotif",
                            type: "GET",
                            dataType: "json",
                            complete: function() {
                                console.log('process complete');
                            },

                            success: function(data) {
                                var wew = data[0];
                                for(var i = 0; i <= wew.length; i++)
                                {
                                    console.log(wew[i].message);
                                }
                                
                            },

                            error: function() {
                                console.log('process error');
                            },
                        });
                    });

                    $("#btnsubmit3").click(function(event) {
                        event.preventDefault();

                        $.ajax({
                            url: '/SetRead',
                            type: 'POST',
                            processData: false,
                            contentType: false,
                            dataType: 'json',
                            success: function(data) {
                                processdata(data, fdata);
                            },
                        })
                    });



                });

            </script>

            <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>



            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>
            <!-- Datatables -->
            <script src="assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
            <script src="assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
            <script src="assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
            <script src="assets/vendors/jszip/dist/jszip.min.js"></script>
            <script src="assets/vendors/pdfmake/build/pdfmake.min.js"></script>
            <script src="assets/vendors/pdfmake/build/vfs_fonts.js"></script>

</body>

</html>
